/*///////////////////////
         GENERAL
///////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  color: #33475b;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  width: 80%;
  margin: 0 auto;
}

/*///////////////////////
         ICONS
///////////////////////*/

/* <i class="fa fa-check-circle"></i>  */

.fa-check-circle {
  color: #ff7a59;
  border-radius: 50%;
}



/* <i class="fa fa-search"></i> */

.fa-search {
  color: #02a5bd;
}

/* <i class="fa fa-globe-europe"></i> */
/* <i class="fas fa-chevron-down"></i> */

/*///////////////////////
         BUTTONS
///////////////////////*/

.btn-large {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #ff7a59;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.btn-small {
  height: 35px;
  width: 60px;
  background-color: #fff;
  text-decoration: none;
  color: #ff7a59;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ff7a59;
}

/*///////////////////////
 LIST ITEM & ANCHOR TAG
///////////////////////*/

li,
a {
 
  list-style: none;
  text-decoration: none;
}

/*///////////////////////
        H2 | P
///////////////////////*/

h2, p {
  padding-bottom: 2%;
}

p {
  line-height: 200%;
}

/*///////////////////////
      COLUMN ROW
///////////////////////*/

.column-2 {
  float: left;
  width: 50%;
}

.column-3 {
  float: left;
  width: calc(100% / 3);
} 

.column-4 {
  width: calc(100% / 4);
  float: left;
}

/*///////////////////////
  CONTAINER WHITE BG
///////////////////////*/

.w-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #d0d3d5;
}

/*///////////////////////
       IMAGES
///////////////////////*/

.small-img {
  width: 150px;
  height: 100px;
  margin-bottom: 10%;
 }

/*///////////////////////
      HEADER
///////////////////////*/

header {
  background: url(../img/jumbotron.png) no-repeat right
    center/cover;
  background-size: 100%;
  height: 600px;
  border-bottom: 1px solid #33475b;
}

/*///////////////////////
      NAVBAR 1
///////////////////////*/

.nav {
  line-height: 50px;
}

.nav .navbar-1 .column-2 ul li {
  margin-left: 10px;
  display: inline-block;
}

.nav .navbar-1 .contact ul li span a {
  padding-right: 16px;
  border-right: 1px solid #d0d3d5;
}


.nav .navbar-1 .column-2 ul li:first-child {
  margin-left: 0px;
}

.fixed {
  width: 100%;
  position: fixed;
  height: 50px;
  top: 0;
  z-index: 1;
  background-color: #f5f8fa;
  border-bottom: 1px solid 	#d0d3d5;
}

.fixed .search {
  text-align: right;
  float: right;
}

.fixed .search .btn-large {
  height: 35px;
  width: 150px;
}

.navbar {
  width: 100%;
  background-color: #fff;
  height: 50px;
  margin-top: 50px;
}

/*///////////////////////
      NAVBAR 2
///////////////////////*/

.nav .center .logo {
  padding-top: 1%;
}
.nav .center .navmenu {
  float: right;
  text-align: right;
}

.navmenu ul li {
  display: inline-block;
  margin-left: 10px;
}

/*///////////////////////
     HEADER CONTENT
///////////////////////*/ 

.h-main-content {
  padding: 3% 0;
}

.h-main-content h1 {
  font-size: 50px;
  margin-bottom: 2%;
}

/*///////////////////////
        M A I N
///////////////////////*/ 

/* SECTION 1 CONTAINER */
main {
  background-color: #F5F8FA;
}

.s1-container {
  text-align: center;
  padding-top: 2%;
}

.s1-container img {
  width: 200px;
  height: 150px;
}

/* SECTION 1 CONTAINER 2 */

.s1-container-2 .library {
  text-align: center;
  padding: 5%;
  width: 30%;
}

.s1-container-2 .text {
  padding: 5%;
  width: 70%;
}

.s1-container-2 .text i,
.s1-container-2 .text span {
  margin-right: 2%;
}

.column-2 .sub-container {
  padding-bottom: 5%;
}

.column-2 .p-feature {
  width: 20%;
}

.column-2 .line { 
 border: 1px solid #d0d3d5;
 width: 60%;
 margin-top: 10px;
 margin-left: 10%;
}


/*///////////////////////
MAIN SECTION 1 CONTAINER 2
///////////////////////*/

.s1-container-3 .column-3 {
  margin-top: 5%;
  text-align: center;
  padding: 3%;
  float: left;
  width: calc(100% / 3 - 40px);
}

.s1-container-3 .column-3:nth-of-type(2) {
  float: right;
}

.s1-container-3 .column-3:nth-of-type(3) {
  margin-left: 6%;
}

.s1-container-3 .column-3 .columns-3-img {
  border-bottom: 1px solid 	#d0d3d5;
  padding-bottom: 10%;
}

.s1-container-3 .column-3 .columns-3-text {
  padding-top: 10%;
}

.s1-container-3 .column-3 .columns-3-text h4 {
  margin-bottom: 5%;
}
.s1-container-3 .column-3 .columns-3-text ul {
  text-align: left;
  margin-bottom: 10%;
}



/* section 2 debug */

.section-2 {
  background-color: #00B9A9;
  text-align: center;
}

.section-2 .section-2-raw {
  border-bottom: 0.5px solid white;
}

.section-2 .section-2-raw:last-of-type {
  border-bottom: none;
}

.section-2 .section-2-raw .raw {
  border-right: 0.5px solid white;
}

.section-2 .section-2-raw .raw:last-of-type {
  border-right: none;
}

.section-2 .uppercase {
  font-size: 30px;
  color: white;
  margin: 1% 0;
  font-weight: bold;
  
  
}
.section-2  span {
  color:white;
  
}

.raw img {
  margin-top: 5%;
}

.column-4 {
  padding: 2%;
}