/*///////////////////////
         GENERAL
///////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: #33475b;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  width: 80%;
  margin: 0 auto;
}

/*///////////////////////
         ICONS
///////////////////////*/
/* <i class="fa fa-check-circle"></i>  */
.fa-check-circle {
  color: #ff7a59;
  border-radius: 50%;
}

/* <i class="fa fa-search"></i> */
.fa-search {
  color: #02a5bd;
}

/* <i class="fa fa-globe-europe"></i>
<i class="fas fa-chevron-down"></i>
<span class="fab fa-facebook-f"></span>
<span class="fab fa-instagram"></span>
<span class="fab fa-youtube"></span>
<span class="fab fa-twitter"></span>
<span class="fab fa-linkedin-in"></span>*/
/*///////////////////////
         BUTTONS
///////////////////////*/
.btn-large {
  cursor: pointer;
  background-color: #ff7a59;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 15px 20px;
}

.btn-small {
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  color: #ff7a59;
  text-align: center;
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #ff7a59;
}

/*///////////////////////
 LIST ITEM & ANCHOR TAG
///////////////////////*/
li,
a {
  list-style: none;
  text-decoration: none;
}

/*///////////////////////
        H2 | P
///////////////////////*/
h2,
p {
  padding-bottom: 2%;
}

p {
  line-height: 200%;
}

/*///////////////////////
      COLUMN ROW
///////////////////////*/
.column-2 {
  float: left;
  width: 50%;
}

.column-3 {
  float: left;
  width: calc(100% / 3);
}

.column-4 {
  width: calc(100% / 4);
  float: left;
}

/*///////////////////////
  CONTAINER WHITE BG
///////////////////////*/
.w-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #d0d3d5;
}

/*///////////////////////
       IMAGES
///////////////////////*/
.small-img {
  width: 150px;
  height: 100px;
  margin-bottom: 10%;
}

/*///////////////////////
      HEADER
///////////////////////*/
header {
  background: url(../img/jumbotron.png) no-repeat right center/cover;
  background-size: 100%;
  height: 600px;
  border-bottom: 1px solid #33475b;
}

/*///////////////////////
      NAVBAR 1
///////////////////////*/
.nav {
  line-height: 50px;
}

.nav .navbar-1 .column-2 ul li {
  margin-left: 10px;
  display: inline-block;
}

.nav .navbar-1 .contact ul li span a {
  padding-right: 16px;
  border-right: 1px solid #d0d3d5;
}

.nav .navbar-1 .column-2 ul li:first-child {
  margin-left: 0px;
}

.fixed {
  width: 100%;
  position: fixed;
  height: 50px;
  top: 0;
  z-index: 1;
  background-color: #f5f8fa;
  border-bottom: 1px solid #d0d3d5;
}

.fixed .search {
  text-align: right;
  float: right;
}

.fixed .search .btn-large {
  padding: 8px 10px;
  border: 1px solid#ff7a59;
}

.navbar {
  width: 100%;
  background-color: #fff;
  height: 50px;
  margin-top: 50px;
}

/*///////////////////////
      NAVBAR 2
///////////////////////*/
.nav .center .logo {
  padding-top: 1%;
}

.nav .center .navmenu {
  float: right;
  text-align: right;
}

.navmenu ul li {
  display: inline-block;
  margin-left: 10px;
}

/*///////////////////////
     HEADER CONTENT
///////////////////////*/
.h-main-content {
  padding: 3% 0;
}

.h-main-content h1 {
  font-size: 50px;
  margin-bottom: 2%;
}

.h-main-content p:first-of-type {
  margin-bottom: 3%;
}

.h-main-content p:last-of-type {
  margin-top: 5%;
  font-size: 15px;
}

/*///////////////////////
        M A I N
///////////////////////*/
/* SECTION 1 CONTAINER */
main {
  background-color: #f5f8fa;
}

.s1-container {
  text-align: center;
  padding-top: 2%;
}

.s1-container img {
  width: 200px;
  height: 150px;
}

/* SECTION 1 CONTAINER 2 */
.s1-container-2 .library {
  text-align: center;
  padding: 5%;
  width: 30%;
}

.s1-container-2 .text {
  padding: 5%;
  width: 70%;
}

.s1-container-2 .text i,
.s1-container-2 .text span {
  margin-right: 2%;
}

.column-2 .sub-container {
  padding-bottom: 5%;
}

.column-2 .p-feature {
  width: 20%;
}

.column-2 .line {
  border: 1px solid #d0d3d5;
  width: 60%;
  margin-top: 10px;
  margin-left: 10%;
}

/*///////////////////////
MAIN SECTION 1 CONTAINER 2
///////////////////////*/
.s1-container-3 .column-3 {
  margin-top: 5%;
  text-align: center;
  padding: 3%;
  float: left;
  width: 30%;
}

.s1-container-3 .column-3:nth-of-type(2) {
  margin: 5% 5%;
}

.s1-container-3 .column-3 .columns-3-img {
  border-bottom: 1px solid #d0d3d5;
  padding-bottom: 10%;
}

.s1-container-3 .column-3 .columns-3-text {
  padding-top: 10%;
}

.s1-container-3 .column-3 .columns-3-text h4 {
  margin-bottom: 5%;
}

.s1-container-3 .column-3 .columns-3-text ul {
  text-align: left;
  margin-bottom: 10%;
}

/*///////////////////////
     MAIN SECTION 2
///////////////////////*/
.section-2 {
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  text-align: center;
  padding-bottom: 5%;
}

.section-2-row .column-4 {
  padding: 2%;
}

.section-2 * {
  color: white;
}

.section-2 .section-2-text {
  padding-top: 5%;
}

/*///////////////////////
    MAIN SECTION 2 ROW
///////////////////////*/
.section-2 .section-2-row h2 {
  padding-top: 10%;
  font-size: 35px;
}

.section-2 .section-2-row {
  border-bottom: 0.5px solid white;
}

.section-2-row:last-of-type {
  border-bottom: none;
}

.section-2 .section-2-row .row {
  border-right: 0.5px solid white;
}

.section-2 .section-2-row .row:last-of-type {
  border-right: none;
}

/*///////////////////////
    MAIN SECTION 3 ROW
///////////////////////*/
.section-3 .section-3-title,
.section-3 .section-3-sponsor {
  padding: 5%;
}

.section-3 .section-3-title h2 {
  font-size: 50px;
  margin-bottom: 10%;
}

.section-3-title {
  width: 40%;
}

.section-3 .section-3-sponsor {
  float: right;
  text-align: right;
  vertical-align: middle;
  width: 60%;
}

.sponsor-img img {
  width: 80%;
  margin-left: 20px;
}

/*///////////////////////
MAIN SECTION 3 MAIN TEXT
///////////////////////*/
.section-3 .section-3-text .column-2 h2 {
  font-size: 35px;
}

.section-3 .section-3-text .column-2 p {
  margin: 6% 0;
}

.section-3 .section-3-text .column-2 p:last-child {
  font-size: 10px;
}

.section-3 .section-3-text .column-2 img {
  width: 50%;
}

.section-3 .section-3-text .column-2:last-child {
  float: right;
  text-align: right;
}

/*///////////////////////
        FOOTER
///////////////////////*/
footer {
  background-color: #33475b;
}

footer * {
  color: #8e9eac;
}

footer h4,
footer .footer-end-2 .column-2 p {
  color: white;
}

footer .column-4 {
  margin-top: 3%;
  margin-bottom: 3%;
}

footer .column-4 ul li {
  margin-top: 3%;
}

footer .column-4 .btn-large {
  width: 180px;
  height: 35px;
  background-color: white;
  margin-top: 10%;
  color: #556776;
}

footer .column-4 span {
  margin-top: 5%;
  margin-right: 6%;
}

/*///////////////////////
  FOOTER END-CREDITS
///////////////////////*/
footer .btn-large {
  padding: 10px 10px;
  font-size: 12px;
}

footer .footer-end .footer-end-1 {
  text-align: center;
}

footer .column-4 ul {
  margin-bottom: 10%;
}

footer #icons {
  margin-top: 5%;
}

footer .footer-end .footer-end-1 ul li {
  display: inline-block;
  padding: 2% 1%;
}

footer .footer-end .footer-end-2 {
  margin-top: 3%;
}

footer .footer-end .footer-end-2 .column-2:last-of-type {
  float: right;
  text-align: right;
  padding-top: 1%;
}

footer .footer-end .footer-end-2 .column-2 span {
  margin-top: 10%;
  margin-left: 3%;
}
